extends ./layout

block scripts

    script(src="https://lightning.filipmartinsson.com/modal/btcpay.js")

    script(type='text/javascript').
        window.onload = () => {
            var id = "#{invoiceId}"
            window.btcpay.showInvoice(id);

            //Payment window closed
            window.btcpay.onModalWillLeave(()=> {
                window.location.href = "invoice/" +id;
            })
        }

block content

    div(class="container")

        main

            div(class="py-5 text-center")

                <img class="d-block mx-auto mb-4" src="/assets/smallcarrots.png" alt="" >

                h2 Freshy Fruits
                p(class="lead") Payment 





