h2 Hi, the payment did not go through
p Dear 
    =buyer.name  

p The invoice for an amount of 
p=currency 
    =price 
p did not go through and you were not charged.

h2 Customer details
p Address: 
    =buyer.address1 
p Email: 
    =buyer.email

